<div class="container-fluid custom-container">
    <div class="contact-section">
        <h1>Contact Us</h1>
        <form #contactForm="ngForm" class="contact-form" (ngSubmit)="onSubmit()">
            <input type="text" class="contact-form-text" placeholder="Your name" [(ngModel)]="name" name="name"
                #nameField="ngModel" required>
            <div *ngIf="nameField.touched && nameField.invalid" class="error-message">Name is required.</div>

            <input type="email" class="contact-form-text" placeholder="Your email" [(ngModel)]="email" name="email"
                #emailField="ngModel" email required>
            <div *ngIf="emailField.touched && emailField.invalid" class="error-message">Please enter a
                valid email address.
            </div>
            <input type="text" class="contact-form-text" pattern="[0-9]{10}" placeholder="Your phone"
                [(ngModel)]="phone" name="phone" #phoneField="ngModel" required>
            <div class="error-message" *ngIf="phoneField.touched && phoneField.invalid">
                <div *ngIf="phoneField.errors.required">
                    Please enter a phone number.
                </div>
                <div *ngIf="phoneField.errors.pattern">
                    Please enter a valid 10-digit phone number.
                </div>
            </div>


            <textarea class="contact-form-text" placeholder="Your message" [(ngModel)]="message" name="message"
                #messageField="ngModel" required></textarea>
            <div *ngIf="messageField.touched && messageField.invalid" class="error-message">Message is required.</div>

            <button type="submit" class="btn btn-success contact-form-btn"
                [disabled]="nameField.invalid || emailField.invalid || phoneField.invalid || messageField.invalid">Send</button>
        </form>
    </div>
</div>