<!-- Left Aligned -->
<section id="left-flex" class="mb-5">
    <div class="shado-banner ribbon">
        <div class="title-wrapper">
            <h1 class="no-margin no-border">Welcome to Recipe Book</h1>
            <p>Nutrition on a Plate</p>
        </div>
    </div>
</section><!-- /end Left Aligned -->

<!-- Fixed Background Image -->
<section id="fixed-bg" class="mb-5">
    <div class="shado-banner title-wrapper">
        <h1 class="no-margin no-border">Place a delightful order for farm-fresh, vibrant vegetables to elevate your
            culinary experience</h1>
    </div>
</section><!-- /end Fixed Background Image -->

<!-- Title Outlined -->
<section id="title-outlined" class="mb-5">
    <div class="shado-banner ribbon">
        <h1 class="no-margin no-border">Indulge in a delectable journey of flavors and culinary delights with our
            mouthwatering Recipes</h1>
    </div>
</section><!-- /end Title Outlined -->

<!-- Transparent Box -->
<section id="transparent-overlay" class="mb-5">
    <div class="overlay">
        <div class="title-wrapper">
            <h2 class="no-margin no-border">Savor the art of gastronomy through our enticing Cuisine</h2>
        </div>
    </div>
</section><!-- /end Transparent Box -->

<!-- Skewed -->
<section id="skewed" class="mb-5">
    <div class="shado-banner overlay">
        <h1 class="no-margin no-border">Embark on a culinary adventure as you explore an array of inspiring recipes
        </h1>
    </div>
</section><!-- /end Skewed -->

<!-- Simple Gradient -->
<section id="simple-gradient">
    <div class="shado-banner blue-overlay">
        <h1 class="banner no-border mt-0">Elevate your kitchen creations with these tantalizingly tasty recipes.
        </h1>
    </div>
</section><!-- /end Simple Gradient -->