<div class="container-fluid">
    <div id="sig" class="signature">
        <span class="title">RecipeBook Terms and Conditions</span><br>
        <span class="divider">_</span><br>
        <p class="text">The content of the pages of this website is for your general information and use only. It is
            subject
            to change without notice.
            This website uses cookies to monitor browsing preferences. If you do allow cookies to be used, the following
            personal information may be stored by us for use by third parties: [insert list of information].</p>
        <span class="divider">_</span>
        <p class="footer-text">
            ©RecipeBook<br>
            <a href="https://github.com/Gobika-Krishna/Angular15-RecipeNote-POC/" target="_blank" class="footer-link">
                34, Halleshe strasse, Wolfsburg, Germany</a>
        </p>
        <span class="divider">_</span>
    </div>
</div>