#recipe-item {
  box-shadow: rgb(17 17 26 / 5%) 0 1px 0,
    rgb(17 17 26 / 10%) 0 0 8px;
  margin-bottom: 10px;
  cursor: pointer;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  z-index: 0;
}
